<div class="container">
  <div class="row">
    <%= link_to 'Atrás', stores_path, class:"btn btn-info ir-atras"%>
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
      <h1 class="text-center">Sucursal <%= @store.name %></h1>
      <h1 class="text-center">Ventas recientes</h1>
      <%= link_to 'Ventas Pendientes', stores_pending_path(:id => @store) , class:"btn btn-lg btn-warning"%>
      <%= link_to 'Historial de ventas', stores_history_path(:id => @store), class:"btn btn-lg btn-info" %>
      <br>

      <br>
     

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Empleado</th>
            <th>Resumen de venta</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
            <th colspan="2"></th>
          </tr>
        </thead> 

          <% total_today = 0 %> <!-- INICIALIZAMOS LA VARIABLE DEL TOTAL -->
        <tbody>
          <% @sales.each do |sale| %>
            <% if sale.pending %>
            <% total_today += 0 %>
            <tr class="warning">
            <% else %>
            <% total_today += sale.total_price %>
            <tr class="info">
            <% end %>
              <td><%= sale.user.name %></td>
              <td>
                <% a = "" %>
                <% sale.products.each do |product| %>
                  <% a += product.sale_title.split.first + ", " %>
                <% end %>
                <%= truncate(a, length:25) %>
              </td>
              <td><%= sale.updated_at.in_time_zone.to_formatted_s(:long) %></td>
              <td> $ <%= sale.total_price %></td>
              <td>
                <% if sale.pending %>
                  Pendiente
                <% else %>
                  Completada
                <% end %>
              </td>
              <% if sale.pending %>
                <td class="text-center"><%= link_to 'Liquidar venta', edit_sale_path(sale), class:"btn btn-success" %></td>

              <% else %>
                <td></td>
              <% end %>
              <td class="text-center"><%= link_to 'Detalles', sale , class:"btn btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>



     
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Total de ventas de hoy: $<%= total_today %></h2>
      <h4>Nota: El total no incluye las ventas pendientes</h4>
    </div>
  </div>
</div>