          <%= form_for(@user) do |f| %>
            <% if @user.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

			      <ul>
			      <% @user.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
            
            <div class="field">
              <br>
              <h4>Nombre de Empleado</h4>
              <%= f.text_field :name, placeholder: "Nombre de Empleado", class:"form-control" %>
            </div>
            <div class="field">
              <h4>Correo Electrónico</h4>
              <%= f.email_field :email, placeholder: "Correo Electrónico" ,class:"form-control" %>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="field">
                  <h4>Contraseña (8 caracteres mínimo)</h4>
                  <%= f.password_field :password, autocomplete: "off" ,class:"form-control" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <h4>Confirma la contraseña</h4>
                  <%= f.password_field :password_confirmation, autocomplete: "off" ,class:"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="field">
                  <h4>Sucursal</h4>
                  <%= f.select(:store_id, options_from_collection_for_select(Store.all, :id, :name), {}, {class: "form-control"}) %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <h4>Estado del empleado</h4>
                  <%= f.select(:status, options_for_select([['Activo', true], ['Inactivo', false]],@user.status), {}, {class:"form-control"}) %>
                </div>
              </div>
            </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="field">
                      <h4>Puesto</h4>
                      <%= f.select(:permission_level, options_for_select([['Vendedor', '1'], ['Supervisor', '2'], ['Administrador', 'admin']],@user.permission_level), {}, {class: "form-control"}) %>
                    </div>
                  </div>
              <div class="col-md-6">
                <div class="field">
                  <h4>Turno</h4>
                  <%= f.select(:schedule, options_for_select([['Turno 1', 1], ['Turno 2', 2], ['Turno 3', 3]],@user.schedule), {}, {class: "form-control"}) %>
                </div>
              </div>
            </div>
            <div class="actions">
              <%= f.submit "Registrar Empleado",class:"btn btn-primary btn-block btn-lg" %>
            </div>
          <% end %>