<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= link_to 'Atrás', root_url, class:"btn btn-info ir-atras"%>
			<h1 class="text-center">Usuarios</h1>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Sucursal</th>
						<th>Puesto</th>
						<th>Turno</th>
						<th>Estado</th>
						<th colspan="1"></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td><%= user.name %></td>
							<td><%= Store.find(user.store_id).name %></td>
							<td>
								<% if user.permission_level == "1" %>
								Vendedor
								<% elsif user.permission_level == "2" %>
								Supervisor
								<% elsif user.permission_level == "admin" %>
								Administrador
								<% end %>
							</td>
							<td><%= user.schedule %></td>
							<td>
								<% if user.status %>
								Inactivo
								<% else %>
								Activo
								<% end %>
							</td>
							<td class="text-center"><%= link_to "Editar", edit_user_path(:id => user), class:"btn btn-info" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12 text-right">
					<%= link_to "Registrar nuevo usuario", new_user_path, class:"btn btn-success" %>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>