<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Bienvenido <%= current_user.name %> </h1>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
						<%= link_to "NUEVA VENTA", new_sale_path, class:"btn btn-success btn-block btn-lg btn-high" %>
						<br>
						<%= link_to "CONSULTAR PRODUCTOS", products_path, class:"btn btn-info btn-block btn-lg btn-high" %>
						<br>
						<%= link_to "HISTORIAL DE VENTAS", sales_path, class:"btn btn-primary btn-block btn-lg btn-high" %>
						<br>
						<%= link_to "DEVOLUCIONES", '/devolutions/search', class:"btn btn-danger btn-block btn-lg btn-high" %>
						<br>
				</div>
				<% puts current_user.permission_level %>
				<% if current_user.permission_level == '1' %>
				<br>
				<% else %>
				<div class="col-md-6">
						<%= link_to "AGREGAR PRODUCTOS", new_product_path, class:"btn btn-warning btn-block btn-lg btn-high" %>
						<br>
						<%= link_to "AGREGAR USUARIOS", '/users/new', class:"btn btn-danger btn-block btn-lg btn-high" %>
						<br>
						<%= link_to "VER ENTRADAS", buys_path, class:"btn btn-info btn-block btn-lg btn-high" %>
						<br>
						<%= link_to "SUCURSALES", stores_path,class:"btn btn-success btn-block btn-lg btn-high" %>
						<br>
						<%= link_to "TRANSFERENCIAS", transfers_path,class:"btn btn-warning btn-block btn-lg btn-high" %>
						<br>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>