<%= form_for(@buy) do |f| %>
  <% if @buy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buy.errors.count, "error") %> prohibited this buy from being saved:</h2>

      <ul>
      <% @buy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <a href="#terminar" class="btn btn-lg btn-primary">Terminar compra</a>

 <script>
  $( document ).ready(function() {
    // check checkbox for clicked row
    $('table').on('click', 'input[type=number]', function () {
        $(this).closest('tr').find('input[type=checkbox]').prop('checked', true);
    });


    // INICIO PRUEBA

    // FIN PRUEBA
    // remove check in inputs are empty for that row
    $('input[type=number]').blur(function () { 
        $('table tr').each(function () {
            var emptyRow = true;
            $(this).find("input[type=number]").each(function(){
                if($(this).val().length > 0) {
                   emptyRow = false;   
                }
            });        
            if (emptyRow) {
                $(this).find('input[type=checkbox]').prop('checked', false);
            }
        });
    })
  });
  </script>

  <table class="table table-bordered" id="sales">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Disponible</th>
        <th width="15%">Cantidad</th>
        <th width="10%" colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <% case product.product_type %>
        <% when 1 %>
        <tr class="info">
        <% when 2 %>
        <tr class="success">
        <% else %>
        <tr class="warning">
        <% end %>
    
          <td><%= product.sale_title %></td>
          <td> $ <%=product.sale_price %></td>
          <td> <%= product.units.to_s + " " + product.measurement_unit %> </td>
          <td> <%= number_field_tag  "quantity[]", nil ,class:'form_control', step: 'any' %> </td>
          <td class="text-center"><%= check_box_tag "product_id[]", product.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <h3>Comentarios sobre esta compra:</h3>

        <%= f.text_area :notes , placeholder: "Escribe aquí notas sobre la compra", class:"form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <h3>Nota:</h3>
        <p>Recuerda que para agregar un producto nuevo, deberás registrarlo primero. <br> Ahí también puedes especificar la cantidad de entrada.</p>
      </div>
    </div>
  </div>
  <div id="terminar" class="row">
    <div class="col-md-6">
      <br>
      <%= link_to 'Cancelar Entrada', root_path, class:"btn btn-warning btn-lg btn-block field" %>
    </div>
    <div class="col-md-6">
      <div class="actions">
        <br>
        <%= f.submit "Registrar Entrada", class:"btn btn-primary btn-lg btn-block field" %>
      </div>
    </div>
  </div>


<% end %>
