<!--
<%= link_to 'Edit', edit_buy_path(@buy) %> |
<%= link_to 'Back', buys_path %>
-->
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						
						<h1 class="text-center">Detalles de la Compra</h1>
						<hr>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="field">
									<h3>Usuario:</h3>
									<p><%= @buy.user.name  %></p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="field">
									<h3>Fecha:</h3>
									<p><%= @buy.created_at.in_time_zone.to_formatted_s(:long) %></p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="field">
									<h3>Sucursal:</h3>
									<p><%= @store.name %></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<table class="table">
									<thead>
										<tr>
											<th>Producto</th>
											<th>Cantidad comprada</th>
											<th>Cantidad del producto en bodega</th>
											<th>Costo en esta compra</th>
											<th>Costo Registrado</th>
										</tr>
									</thead>

									<tbody>
							          <% @buy.products.each do |product| %>
							          	<% case product.kind %>
								        <% when 0 %>
								        <tr style="background-color: white">
								        <% when 1 %>
								        <tr style="background-color: #22A7F0">
								        <% when 2 %>
								        <tr class="success">
								        <% when 3 %>
								        <tr style="background-color:#2ecc71">
								        <% when 4 %>
								        <tr style="background-color:#F7CA18">
								        <% when 5 %>
								        <tr class="warning">
								        <% when 6 %>
								        <tr style="background-color:#1BA39C">
								        <% when 7 %>
								        <tr class="success">
								        <% when 8 %>
								        <tr style="background-color:#9B59B6">
								        <% when 9 %>
								        <tr style="background-color:#D2527F">
								        <% when 10 %>
								        <tr style="background-color:#95A5A6">
								        <% when 11 %>
								        <tr style="background-color: #4183D7">
								        <% else %>
								        <tr style="background-color:#F7CA18">
								        <% end %>
										  <% cantidad = @buy.toma_detalle(product) %>
										  <% costo = @buy.toma_costo(product) %>
							              <td><%= product.sale_title %></td>
							              <td><%= cantidad.to_s + " " + product.measurement_unit %></td>
							              <td> <%= product.units.to_s + " " + product.measurement_unit %> </td> <!-- AQUÍ SE DEBE AJUSTAR AL NUEVO PARAMETRO DE HAS MANY -->
							              <td>$ <%= costo.to_s %></td>
							              <td>$ <%= product.buy_price %></td>
							            </tr>
							          <% end %>
							        </tbody>
								</table>
							</div>
						</div>
						<!-- AÚN QUEDA LA DUDA DE PONER ESTO EN EL REGISTRO, PODRIA PONERSE Y QUE ACEPTE UN NULO -->
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<h3>Notas de la compra:</h3>
								<p><%= @buy.notes %></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>