<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @buy.user %>
</p>

<p>
  <strong>Items:</strong>
  <%= @buy.items %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @buy.notes %>
</p>

<%= link_to 'Edit', edit_buy_path(@buy) %> |
<%= link_to 'Back', buys_path %>
