<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
      <%= link_to 'Atrás', root_url, class:"btn btn-info ir-atras"%>
      <h1 class="text-center top-head">Devoluciones</h1>
      <% if user_signed_in? %>
        <% if current_user.permission_level == '1' %>
        <% else %>
          <%= link_to 'Ver devoluciones', devolutions_path , class:"btn btn-lg btn-success"%>
          <br>
        <% end %>
      <% end %>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h2>Busca la venta a devolver:</h2>
        </div>
        <div class="col-md-6 col-sm-6">
          <br><br>

          <%= form_tag({controller: "devolutions", action: "search"}, method: "get") do %>
          <div class="input-group">
              <span class="input-group-addon">No. de Ticket: </span>
              <%= text_field_tag 'number', nil, class:"form-control" %>
              
              <span class="input-group-btn">
              <%= submit_tag "Buscar", class:"btn btn-primary" %>
              </span>
          </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">


          <% if @sales.size == 0 %>
            <h3>No hay ventas registradas con el número consultado.</h3>
          <% else %>

          <br><br>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Vendedor</th>
                <th>Resumen de venta</th>
                <th>Fecha</th>
                <th>Total</th>
                <th colspan="1"></th>
              </tr>
            </thead> 
            <tbody>
              <% @sales.each do |sale| %>
                <% if sale.pending %>
                <tr class="warning">
                <% else %>
                <tr class="info">
                <% end %>
                  <td><%= sale.user.name %></td>
                  <td>
                    <% a = "" %>
                    <% sale.products.each do |product| %>
                      <% a += product.sale_title.split.first + ", " %>
                    <% end %>
                    <%= truncate(a, length:25) %>
                  </td>
                  <td><%= sale.updated_at.in_time_zone.to_formatted_s(:long) %></td>
                  <td> $ <%= sale.total_price %></td>
                  <td class="text-center"><%= link_to 'Seleccionar', new_devolution_path(:id => sale.id) , class:"btn btn-info" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% end %>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>