<%= form_for(@product) do |f| %>
	<% @product.errors.full_messages.each do |message| %>
	<div class="alert alert-danger" role="alert">
		* <%= message %>
	</div>
	<%end%>

	<div class="field">
		<%= f.hidden_field :store_id, :value => 1 %>
	</div>
	<div class="field">
		<h4>Nombre de Venta</h4>
		<%= f.text_field :sale_title, placeholder: "Nombre de venta", class:"form-control" %>
	</div>
	<div class="field">
		<h4>Nombre que aparecerá en el ticket</h4>
		<%= f.text_field :ticket_title, placeholder: "Nombre de Ticket", class:"form-control" %>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="field">
				<h4>ID del producto</h4>
				<%= f.number_field :product_number, placeholder: "ID", class:"form-control" %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="field">
				<h4>Tipo de producto</h4>
				<%= f.select(:product_type, options_for_select([['Químicos', 1],['Jarciería', 2],['Otros', 3]],@product.product_type), {}, class:"form-control" )%>
			</div>
		</div>
		<div class="col-md-4">
			<div class="field">
				<h4>Unidad de medida</h4>
				<%= f.select(:measurement_unit, options_for_select([['Litros', 'lt'], ['Kilos','kg'], ['Piezas', 'piezas']],@product.measurement_unit), {}, {class: "form-control"}) %>
			</div>
		</div>
	</div>
	<div class="field">
		<h4>Sub categoría</h4>
		<%= f.select(:kind, options_for_select([['Sin categoría', 0], ['Limpiador Multiusos Tipo',1], ['Detergente Líquido Para Ropa', 2], ['Detergente Líquido para trastes', 3], ['Detergente Líquido Multiusos',4], ['Suavizante de Telas Tipo',5], ['Aromatizante Ambiental', 6], ['Productos Para El Cabello', 7], ['Crema Humectante', 8], ['Jabón Líquido', 9], ['Cocina y Baño', 10], ['Cuidado Automotriz', 11], ['Otros', 12]],@product.kind), {}, {class: "form-control"}) %>
	</div>
	<div class="field">
		<h4>Descripción del producto</h4>
		<%= f.text_area :description, placeholder: "Descripción del producto", class:"form-control" %>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="field">
				<h4>Imagen del producto</h4>
				<%= f.file_field :image %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="field">
				<h4>Cantidad crítica</h4>
				<%= f.number_field :critical, placeholder: "Cantidad en unidades de medida", class:"form-control", step: 'any' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="field">
				<h4>Precio de compra</h4>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<%= f.number_field :buy_price, placeholder: "Precio de compra", class:"form-control", step: 'any' %>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="field">
				<h4>Precio de venta</h4>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<%= f.number_field :sale_price, placeholder: "Precio de venta", class:"form-control", step: 'any' %>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="field">
				<h4>Precio de mayoreo</h4>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<%= f.number_field :wholesale_price, placeholder: "Precio mayoreo", class:"form-control", step: 'any' %>
				</div>
			</div>
		</div>
	</div>
	<!-- AÚN QUEDA LA DUDA DE PONER ESTO EN EL REGISTRO, PODRIA PONERSE Y QUE ACEPTE UN NULO -->
	<div class="row">
		<div class="col-md-6">
			<div class="field">
				<h4>Unidades de entrada</h4>
				<%= f.text_field :units, placeholder: "Unidades de entrada", class:"form-control" %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="field">
				<h4>Estado del producto</h4>
		    	<%= f.select(:active, options_for_select([['Activo', true], ['Inactivo', false]],@product.active), {},{class:"form-control"}) %>
		  	</div>
		</div>
	</div>

	<!-- AQUÍ DEJAMOS EL PRODUCTO COMO 'ACTIVO' -->

	<div class="row field">
		<div class="col-md-6">
			<%= f.submit "Guardar", class:"btn btn-primary btn-lg btn-block field" %>
		</div>
		<div class="col-md-6">
			<%= link_to "Cancelar", products_path(@product), class:"btn btn-info btn-lg btn-block field" %>
		</div>
	</div>
<%end%>