<div class="container">
	<div class="row">
		<div class="col-md-12 text-right">
			<% if user_signed_in? %>
				<% if current_user.permission_level == "1" %>
				<% else %>
          <%= link_to "Productos activos", products_path, class:"btn btn-primary btn-lg" %>
					<%= link_to "Productos inactivos", products_inactive_path, class:"btn btn-warning btn-lg" %>
          <%= link_to "Enviar informe de productos críticos", {:controller => 'products', :action => 'send_critical'}, class:"btn btn-success btn-lg" %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center top-head">Productos críticos</h1>
  <table class="table table-bordered" id="products">
    <thead>
      <tr>
        <th>Producto</th>
        <th width="20%">Precio</th>
        <th width ="20%">Disponible</th>
        <th width="20%">Detalles</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <% case product.product_type %>
        <% when 1 %>
        <tr class="info">
        <% when 2 %>
        <tr class="success">
        <% else %>
        <tr class="warning">
        <% end %>
    
          <td><%= product.sale_title %></td>
          <td> $ <%=product.sale_price %></td>
          <td> <%= product.units.to_s + " " + product.measurement_unit %>
              <% if product.critical != nil %>
               <% if product.units <= product.critical %>
               <%= fa_icon "exclamation-circle", class:"rojo" %>
               <% end %>
              <% end %>
          </td>
          <td class="text-center"><%= link_to 'Ver producto', product , class:"btn btn-warning" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

		</div>
	</div>
</div>