<div class="container">
	<div class="row">
		<div class="col-md-12 text-right">
			<%= link_to "Registrar nuevo producto", new_product_path(@product), class:"btn btn-success btn-lg" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center top-head">Productos</h1>
			<% tipo = 0 %>
			<%= select(tipo, options_for_select([['Todos', 0], ['Químicos', 1], ['Jarciería', 2], ['Otros', 3]]), filter_type(tipo), :input_html => { :value => 1 }, class:"form-control") %>
			<% if tipo < 1 %>
			<p>Funciona!</p>
			<% else %>
			<p>No funciona</p>
			<% end %>
		      <table class="table table-bordered">
		        <thead>
		          <tr>
		            <th>Producto</th>
		            <th>Tipo</th>
		            <th>Precio</th>
		            <th>Disponible</th>
		            <th colspan="1"></th>
		          </tr>
		        </thead>

		        <tbody>
		          <% @products.each do |product| %>
		          	<% case product.product_type %>
		          	<% when 1 %>
		            <tr class="info">
					<% when 2 %>
					<tr class="success">
					<% else %>
					<tr class="warning">
					<% end %>
						
		              <td><%= product.sale_title %></td>
		              <td>
		              	<% case product.product_type %>
						<% when 1 %>
						Químicos
						<% when 2 %>
						Jarciería
						<% else %>
						Otros
						<%end%>
		              </td>
		              <td> $ <%=product.sale_price %></td>
		              <td> <%= product.units.to_s + " " + product.measurement_unit %> </td>
		              <td class="text-center"><%= link_to 'Detalles', product , class:"btn btn-warning" %></td>
		            </tr>
		          <% end %>
		        </tbody>
		      </table>
		</div>
	</div>
</div>