<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center top-head">Productos</h1>
				<% @products.each_slice(4) do |products| %>
				<div class="row">
					<% products.each do |product| %>
					<%# if product.product_type == 1 %>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<div class="thumbnail">
							<%= image_tag(product.image_url, class:"img-responsive") if product.image.present? %>
							<div class="caption">
								<h2><%= product.sale_title %></h2>
								<p><%= product.description %></p>
								<h4>Precio de venta: <p> <%= "$" + product.sale_price.to_s %> </p> </h4>
								<h4>Cantidad en almacen: <p><%= product.units.to_s + " " + product.measurement_unit %></p></h4>
								<%= link_to "Detalles", product, class:"btn btn-warning btn-block" %>
							</div>
						</div>
					</div>
					<%# end %>
					<%end%>
				</div>
				<% end %>
		</div>
	</div>
</div>