<div class="container">
	<% if user_signed_in? %>
		<% if current_user.permission_level == "1" %>
		<% else %>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-right">
					<%= link_to "Editar producto", edit_product_path(@product), class:"btn btn-info btn-lg" %>
					<%= link_to "Registrar nuevo producto", new_product_path(@product), class:"btn btn-success btn-lg" %>
				</div>
			</div>
		<% end %>
	<% end %>
	<br>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="well">
				<div class="row">
					<div class="col-md-6">
						<%= image_tag(@product.image_url, class:"img-responsive") if @product.image.present? %>
					</div>
					<div class="col-md-6">
						
						<h2 class="text-center"><%= @product.sale_title %></h2>
						<hr>
						<div class="field">
							<h4>Nombre que aparecerá en el ticket</h4>
							<p><%= @product.ticket_title  %></p>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="field">
									<h4>Tipo de producto</h4>
									<% case @product.product_type %>
									<% when 1 %>
									<p>Químicos</p>
									<% when 2 %>
									<p>Jarciería</p>
									<% else %>
									<p>Otros</p>
									<%end%>
								</div>
							</div>
							<div class="col-md-6">
								<div class="field">
									<h4>ID de producto</h4>
									<p><%= @product.product_number %></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h4>Clase: <span class="kind">
								<% case @product.kind %>
								<% when 0 %>
								Sin categoría
								<% when 1 %>
								Limpiador multiusos
								<% when 2 %>
								Detergente Líquido para Ropa
								<% when 3 %>
								Detergente Líquido para trastes
								<% when 4 %>
								Detergente Líquido multiusos
								<% when 5 %>
								Suavizante de Telas
								<% when 6 %>
								Aromatizante ambiental
								<% when 7 %>
								Productos para el cabello
								<% when 8 %>
								Crema humectante
								<% when 9 %>
								Jabón Líquido
								<% when 10 %>
								Cocina y Baño
								<% when 11 %>
								Cuidado Automotriz
								<% when 12 %>
								Otros
								<% else %>
								Sin categoría
								<% end %>
								</span></h4>
							</div>
						</div>
						<div class="field">
							<h4>Descripción del producto</h4>
							<p><%= @product.description%></p>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="field">
									<h4>Precio de compra</h4>
									<p>$<%= @product.buy_price%></p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="field">
									<h4>Precio de venta</h4>
									<p>$<%= @product.sale_price%></p>
								</div>
							</div>
						</div>
						<!-- AÚN QUEDA LA DUDA DE PONER ESTO EN EL REGISTRO, PODRIA PONERSE Y QUE ACEPTE UN NULO -->
						<div class="row">
							<div class="col-md-6">
								<div class="field">
									<h4>Cantidad en almacen</h4>
									<p><%= @product.units.to_s + " " + @product.measurement_unit %></p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="field">
									<h4>Cantidad crítica</h4>
									<p><%= @product.critical.to_s + " " + @product.measurement_unit %></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="field">
								<h4 class="alineado">Estado del producto:</h4>
								<% if @product.active  %>
								<h4 class="activo alineado">activo</h4>
								<% else %>
								<h4 class="inactivo alineado">inactivo</h4>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>