<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :store_id, :value => current_user.store_id %>
  </div>

  <a href="#terminar" class="btn btn-lg btn-primary">Terminar venta</a>

  <script>
  $( document ).ready(function() {
    // check checkbox for clicked row
    $('table').on('click', 'input[type=number]', function () {
        $(this).closest('tr').find('input[type=checkbox]').prop('checked', true);
    });


    // INICIO PRUEBA
    // FIN PRUEBA
    // remove check in inputs are empty for that row
    $('input[type=number]').blur(function () { 
        $('table tr').each(function () {
            var emptyRow = true;
            $(this).find("input[type=number]").each(function(){
                if($(this).val().length > 0) {
                   emptyRow = false;   
                }
            });        
            if (emptyRow) {
                $(this).find('input[type=checkbox]').prop('checked', false);
            }
        });
    })
  });
  </script>

  <table class="table table-bordered" id="sales">
    <thead>
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Disponible</th>
        <th width="10%">Cantidad</th>
        <th width="10%" colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <% case product.kind %>
        <% when 0 %>
        <tr style="background-color: white">
        <% when 1 %>
        <tr style="background-color: #22A7F0">
        <% when 2 %>
        <tr class="success">
        <% when 3 %>
        <tr style="background-color:#2ecc71">
        <% when 4 %>
        <tr style="background-color:#F7CA18">
        <% when 5 %>
        <tr class="warning">
        <% when 6 %>
        <tr style="background-color:#1BA39C">
        <% when 7 %>
        <tr class="success">
        <% when 8 %>
        <tr style="background-color:#9B59B6">
        <% when 9 %>
        <tr style="background-color:#D2527F">
        <% when 10 %>
        <tr style="background-color:#95A5A6">
        <% when 11 %>
        <tr style="background-color: #4183D7">
        <% else %>
        <tr style="background-color:#F7CA18">
        <% end %>
          <td><%= product.product_number %></td>
          <td><%= product.sale_title %></td>
          <td> $ <%=product.sale_price %></td>
          <td> <%= product.units.to_s + " " + product.measurement_unit %> </td>
          <td> <%= number_field_tag  "quantity[]", nil ,class:'form-control', step: 'any' %> </td>
          <td class="text-center"><%= check_box_tag "product_id[]", product.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

      <!--
  <div class="field">
  <% total = 75 %>
    <h2>Total de venta:</h2>
    <%= f.text_field :total_price, :value => total %>
  </div>
  <div class="field">
    <%= f.label :items %><br>
    <%= f.number_field :items %>
  </div> -->
  <div class="row" id="terminar">
    <div class="col-md-6">
      <div class="field">
        <h2>Marcar Venta Pendiente: 
        <%= f.check_box :pending %>
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <br>
      <%= link_to 'Cancelar Venta', root_path, class:"btn btn-warning btn-lg btn-block field" %>
    </div>
    <div class="col-md-6">
      <div class="actions">
        <br>
        <%= f.submit "Terminar Venta", class:"btn btn-primary btn-lg btn-block field"%>
      </div>
    </div>
  </div>
<% end %>
