<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <table class="table table-bordered">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Disponible</th>
            <th width="15%">Cantidad</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <% case product.product_type %>
            <% when 1 %>
            <tr class="info">
            <% when 2 %>
            <tr class="success">
            <% else %>
            <tr class="warning">
            <% end %>
        
              <td><%= product.sale_title %></td>
              <td>
                <% case product.product_type %>
                <% when 1 %>
                Químicos
                <% when 2 %>
                Jarciería
                <% else %>
                Otros
                <%end%>
              </td>
              <td> $ <%=product.sale_price %></td>
              <td> <%= product.units.to_s + " " + product.measurement_unit %> </td>
              <td> <%= number_field "quantity[]", class:"form-control", step: 'any' %> </td>
              <td class="text-center"><%= check_box_tag "product_id[]", product.id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!--
  <div class="field">
  <% total = 75 %>
    <h2>Total de venta:</h2>
    <%= f.text_field :total_price, :value => total %>
  </div>
  <div class="field">
    <%= f.label :items %><br>
    <%= f.number_field :items %>
  </div> -->
  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <h2>Marcar Venta Pendiente: 
        <%= f.check_box :pending %>
        </h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="actions">
        <br>
        <%= f.submit "Terminar Venta", class:"btn btn-primary btn-lg btn-block field"%>
      </div>
    </div>
  </div>
<% end %>
