<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-12">
      <div id="new-table">
        <!-- AQUI SE CREARÃ LA TABLA -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 id="total_sale"></h1>
    </div>
  </div>
  
  <% mayoreo = Store.find(current_user.store_id).wholesale %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :store_id, :value => current_user.store_id %>
  </div>

  <button class="btn btn-lg btn-primary">Terminar venta</button>

  <script>

  $( document ).ready(function() {
  var ventas = [];
  var identificadores = [];
  var cantidades = [];
    /*
    // check checkbox for clicked row
    $('table').on('click', 'input[type=number]', function () {

        $(this).closest('tr').find('input[type=checkbox]').prop('checked', true);
    });
    */
    $(".add_product").on('click', function() {  
      var prd = $(this).closest('tr');
      if(prd.find('#quantity').val() == null || prd.find('#quantity').val() == ""){
        
        for (var i = 0; i < ventas.length; i++) {
          if (ventas[i].id == parseInt(prd.find('#number').attr('value')) ) {
            ventas[i].quantity += 1;
            writeTable(ventas);
            writeTotal();
            identificadores = return_ids(ventas);
            cantidades = return_quantity(ventas);
            return;
          };
        };
        ventas.push({
        id: parseInt(prd.find('#number').attr('value')), 
        name: prd.find('#name').text(), 
        quantity: 1, 
        price: parseFloat(prd.find('#precio').attr('value'))});
      writeTable(ventas);
      writeTotal();
      identificadores = return_ids(ventas);
      cantidades = return_quantity(ventas);


      }else{


        for (var i = 0; i < ventas.length; i++) {
          if (ventas[i].id == parseInt(prd.find('#number').attr('value')) ) {
            ventas[i].quantity += parseFloat(prd.find('#quantity').val());
            writeTable(ventas);
            writeTotal();
            identificadores = return_ids(ventas);
            cantidades = return_quantity(ventas);
            return;
          };
        };
        ventas.push({
        id: parseInt(prd.find('#number').attr('value')), 
        name: prd.find('#name').text(), 
        quantity: parseFloat(prd.find('#quantity').val()), 
        price: parseFloat(prd.find('#precio').attr('value'))});
      writeTable(ventas);
      writeTotal();
      identificadores = return_ids(ventas);
      cantidades = return_quantity(ventas);
      }

      //alert(tr.find('#number').text());
    });
  });

$('form').submit(function() {  
  params = $('form').serializeArray();
  params[params.length] = {name: "product_id", value: identificadores};
  params[params.length] = {name: "quantity", value: cantidades};
  params = JSON.stringify(params);
  //str = JSON.stringify(params);
  //params = JSON.parse(str);
  params = {product_id: identificadores};

  
  //sendInfo = JSON.parse(sendInfo);
  //params[params.length] = { name: "product_id", value: identificadores};
  //params[params.length] = { name: "quantity", value: cantidades};
  //params.push({product_id: identificadores, quantity: cantidades});

  //params = JSON.parse(params);
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data : JSON.stringify(params), 
        /*JSON.parse({paramethers: params, product_id: JSON.stringify(identificadores), quantity: JSON.stringify(cantidades)}),
        */
        dataType: "JSON", // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json){
        console.log("success", json);
    });
    return false; // prevents normal behaviour
});
/*
$.ajax({
        url : "/sales/new",
        type : "post",
        data : { product_id: JSON.stringify(return_ids(ventas)), quantity: JSON.stringify(return_quantity(ventas))}
    });
*/
function return_ids(arr){
  var ids = []
  for (var i = 0; i < arr.length; i++) {
    ids.push(arr[i].id)
  };
  return ids;
}

function return_quantity(arr){
  var quantity = []
  for (var i = 0; i < arr.length; i++) {
    quantity.push(arr[i].quantity)
  };
  return quantity;
}

function writeTotal() {
  var table = document.getElementById('bought');
  var cells = table.getElementsByClassName('totals');
  var total = 0;
  for(var i = 0; i < cells.length; i++){
    total += parseFloat($(cells[i]).attr('data-value'));
  };
  $('#total_sale').text('$ ' + total);
};

function deleteItem(btn) {
  var row = btn.parentNode;
  var prd = $(row).closest('tr');
  var id = parseInt(prd.find('#prd-id').attr('value'))

  //var prd = parseInt(row.find('#prd-id').attr('value'));
  for (var i = 0; i < ventas.length; i ++) {
    if(ventas[i].id == id){
      ventas.splice(i, 1);
    }
  };
  //row.parentNode.removeChild(row);
  writeTable(ventas);
  writeTotal();
};


function writeTable(array) {
    // declare html variable (a string holder):
    var myTable = '<table id="bought" class="table table-bordered"><thead><tr><th>Producto</th><th>Cantidad</th><th>Total</th><th colspan="1"></th></tr></thead><tbody>'

    for (var i = 0; i < array.length; i++) {
      
        
      var html = '';
      //for (var i = 0; i < array.length; i++) {
          // add opening <tr> tag to the string:
          html += '<tr>';
          
          html += '<td id="prd-id" name="product_id[]" value=\'' + parseInt(array[i].id) + '\'>' + array[i].name + '</td>';
          if (array[i].quantity == NaN) {
          html += '<td name="quantity[]" value=\'1\'>1</td>';
          } else{
            html += '<td name="quantity[]" value=\'' + parseFloat(array[i].quantity) + '\'>' + parseFloat(array[i].quantity) + '</td>';
          };
          html += '<td class=\"totals\" data-value=\"' + array[i].quantity * array[i].price + '\"> $ ' + array[i].quantity * array[i].price + '</td>';
          html += '<td class="text-center"><button type="button" class="btn btn-danger" value="Delete" onclick="deleteItem(this)"><%= fa_icon "times" %></button></td>';
          // add closing </tr> tag to the string:
          html += '</tr>';
          myTable += html;
    };

    myTable += '</tbody></table>'
    //}
    //append created html to the table body:
    document.getElementById("new-table").innerHTML = myTable;
    //$('#new-table').write(myTable);

};

//$('.totals')function writeTotal
  </script>

  <table class="table table-bordered" id="sales">
    <thead>
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <% if mayoreo %>
          <th>Mayoreo</th>
          <th>Menudeo</th>
        <% else %>
          <th>Precio</th>
        <% end %>
        <th>Disponible</th>
        <th width="10%">Cantidad</th>
        <th width="10%" colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <% case product.kind %>
        <% when 0 %>
        <tr style="background-color: white">
        <% when 1 %>
        <tr style="background-color: #22A7F0">
        <% when 2 %>
        <tr class="success">
        <% when 3 %>
        <tr style="background-color:#2ecc71">
        <% when 4 %>
        <tr style="background-color:#F7CA18">
        <% when 5 %>
        <tr class="warning">
        <% when 6 %>
        <tr style="background-color:#1BA39C">
        <% when 7 %>
        <tr class="success">
        <% when 8 %>
        <tr style="background-color:#9B59B6">
        <% when 9 %>
        <tr style="background-color:#D2527F">
        <% when 10 %>
        <tr style="background-color:#95A5A6">
        <% when 11 %>
        <tr style="background-color: #4183D7">
        <% else %>
        <tr style="background-color:#F7CA18">
        <% end %>
          <td id="number" value='<%= product.id %>'><%= product.product_number %></td>
          <td id="name"><%= product.sale_title %></td>
          <% if mayoreo %>
            <td id="precio_mayoreo" value="<%=product.wholesale_price %>"> $ <%=product.wholesale_price %></td>
            <td id="precio" value="<%=product.sale_price %>"> $ <%=product.sale_price %></td>
          <% else %>
            <td id="precio" value="<%=product.sale_price %>"> $ <%=product.sale_price %></td>
          <% end %>
          <td> <%= product.units.to_s + " " + product.measurement_unit %> </td>
          <td id="cantidad"> <input id="quantity" type="number" min="0" max="<%= product.measurement_unit %>" step="any" class="form-control"> 
            <!--<%= number_field_tag  "quantity", nil , min: 0, max: product.units,class:'form-control', step: 'any' %> --></td>
          <td class="text-center"><button onClick="return false;" class="add_product btn btn-success"><%= fa_icon "plus" %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>

      <!--
  <div class="field">
  <% total = 75 %>
    <h2>Total de venta:</h2>
    <%= f.text_field :total_price, :value => total %>
  </div>
  <div class="field">
    <%= f.label :items %><br>
    <%= f.number_field :items %>
  </div> -->
  <div class="row" id="terminar">
    <div class="col-md-6">
      <div class="field">
        <h2>Marcar Venta Pendiente: 
        <%= f.check_box :pending %>
        </h2>
      </div>
    </div>
    <% if mayoreo %>
      <div class="col-md-6">
        <div class="field">
          <h2>Marcar Venta de Mayoreo:
          <%= f.check_box :wholesale %>
          </h2>
        </div>
      </div>
    <% else %>
      <div class="field">
        <%= f.hidden_field :wholesale, :value => false %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <br>
      <%= link_to 'Cancelar Venta', root_path, class:"btn btn-warning btn-lg btn-block field" %>
    </div>
    <div class="col-md-6">
      <div class="actions">
        <br>
        <%= f.submit "Terminar Venta", class:"btn btn-primary btn-lg btn-block field"%>
      </div>
    </div>
  </div>
<% end %>
