<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <h1 class="text-center top-head">Historial de ventas</h1>

      <%= link_to 'Nueva Venta', new_sale_path , class:"btn btn-lg btn-success"%>
      <%= link_to 'Ventas Recientes', sales_path , class:"btn btn-lg btn-primary"%>
      <%= link_to 'Ventas Pendientes', sales_pending_path, class:"btn btn-lg btn-warning" %>
      <br>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h2>Selecciona un intervalo de fechas para consultar:</h2>
        </div>
        <div class="col-md-6 col-sm-6">
          <br><br>

        <script>
          $('.input-group.input-daterange').datepicker({
              format: "dd/mm/yyyy",
              language: "es",
              todayHighlight: true
          });
        </script>

          <div class="input-group input-daterange" id="datepicker">
              <span class="input-group-addon">Del</span>
              <%= text_field_tag 'start', nil, :data => {:provide => "datepicker"}, class:"form-control" %>
              <!--<input type="text" data-provide='datepicker' class="form-control">-->
              <span class="input-group-addon">al</span>
              <%= text_field_tag 'finish', nil, :data => {:provide => "datepicker"}, class:"form-control" %>
              <!--<input type="text" data-provide='datepicker' class="form-control">-->
              <span class="input-group-btn">
                <button class="btn btn-primary">Buscar</button>
              </span>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>