<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <h1 class="text-center top-head">Ventas recientes</h1>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Empleado</th>
            <th>Resumen de venta</th>
            <th>Total de venta</th>
            <th>Estado</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @sales.each do |sale| %>
            <% if sale.pending %>
            <tr class="warning">
            <% else %>
            <tr class="info">
            <% end %>
              <td><%= sale.user.email %></td>
              <td>
                <% sale.products.each do |product| %>
                  <%= product.sale_title.split.first + "," %>
                <% end %>
              </td>
              <td> $ <%= sale.total_price %></td>
              <td>
                <% if sale.pending %>
                  Pendiente
                <% else %>
                  Completada
                <% end %>
              </td>
              <% if sale.pending %>
                <td class="text-center"><%= link_to 'Liquidar venta', edit_sale_path(sale), class:"btn btn-success" %></td>

              <% else %>
                <td></td>
              <% end %>
              <td class="text-center"><%= link_to 'Detalles', sale , class:"btn btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Sale', new_sale_path %>
    </div>
  </div>
</div>