<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
      <%= link_to 'Atrás', sales_path, class:"btn btn-info ir-atras"%>

      <h1 class="text-center">Ventas pendientes</h1>

      <%= link_to 'Nueva Venta', new_sale_path , class:"btn btn-lg btn-success"%>
      <%= link_to 'Ventas Recientes', sales_path , class:"btn btn-lg btn-primary"%>
      <% if user_signed_in? %>
        <% if current_user.permission_level == "1" %>
        <% else %>
          <%= link_to 'Historial de ventas', sales_history_path, class:"btn btn-lg btn-info" %>
          <%= link_to 'Buscar por Ticket', sales_by_ticket_path, class:"btn btn-lg btn-primary" %>
        <% end %>
      <% end %>
      <br>
      <br>
     

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Empleado</th>
            <th>Resumen de venta</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
            <th colspan="2"></th>
          </tr>
        </thead> 

          <% total_today = 0 %> <!-- INICIALIZAMOS LA VARIABLE DEL TOTAL -->
        <tbody>
          <% @sales.each do |sale| %>
            <% if sale.pending %>
            <tr class="warning">
            <% else %>
            <tr class="info">
            <% end %>
              <td><%= sale.user.name %></td>
              <td>
                <% a = "" %>
                <% sale.products.each do |product| %>
                  <% a += product.sale_title.split.first + ", " %>
                <% end %>
                <%= truncate(a, length:25) %>
              </td>
              <td><%= sale.updated_at.in_time_zone.to_formatted_s(:long) %></td>
              <td> $ <%= sale.total_price %></td>
              <td>
                <% if sale.pending %>
                  Pendiente
                <% else %>
                  Completada
                <% end %>
              </td>
              <% if sale.pending %>
                <td class="text-center"><%= link_to 'Liquidar venta', edit_sale_path(sale), class:"btn btn-success" %></td>

              <% else %>
                <td></td>
              <% end %>
              <td class="text-center"><%= link_to 'Detalles', sale , class:"btn btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>



     
    </div>
  </div>
</div>