<!-- 
<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %> -->
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						
						<h1 class="text-center">Detalles de la Venta</h1>
						<hr>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="field">
									<h3>Vendedor:</h3>
									<p><%= @sale.user.email  %></p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="field">
									<h3>Fecha:</h3>
									<p><%= @sale.created_at.in_time_zone.to_formatted_s(:long) %></p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="field">
									<h3>Productos:</h3>
									<p><!--<% prdct = 0 %>
										<% @sale.products.each do |product| %>
											<% prdct += 1 %>
										<% end %> -->
										<%= @sale.items %>
									</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="field">
									<h3>Estado:</h3>
									<% if @sale.pending %>
									<p>Pendiente</p>
									<% else %>
									<p>Confirmada</p>
									<% end %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<table class="table">
									<thead>
										<tr>
											<th>Producto</th>
											<th>Precio unitario</th>
											<th>Cantidad</th>
											<th>Total</th>
										</tr>
									</thead>

									<tbody>
							          <% @sale.products.each do |product| %>
							          	<% case product.product_type %>
							          	<% when 1 %>
							            <tr class="info">
										<% when 2 %>
										<tr class="success">
										<% else %>
										<tr class="warning">
										<% end %>
										  <% cantidad = @sale.toma_detalle(product) %>
										  <td><%= product.sale_title %></td>
							              <td>$ <%= product.sale_price.to_s + " " + product.measurement_unit %></td>
							              <td><%= cantidad.to_s + " " + product.measurement_unit %></td> <!-- AQUÍ SE DEBE AJUSTAR AL NUEVO PARAMETRO DE HAS MANY -->
							              <td>$ <%= product.sale_price * cantidad %> </td>
							            </tr>
							          <% end %>
							        </tbody>
								</table>
							</div>
						</div>
						<script type="text/javascript">
						  jQuery("#total").live("change", function(){
						    total = <% @sale.total_price %>
						    recibo = parseFloat(jQuery("#recibo").val());           
						    cambio = recibo - total
						 jQuery("#cambio").val(total.toFixed(2));   
						 });
						</script>
						<div class="row">
							<div class="col-md-6">
								<div class="field">
									<h2>Total de Venta:</h2>
									<h1 id="total">$<%= @sale.total_price %></h1>
								</div>
							</div>
							<% dinero_recibido = 0 %>
							<% cambio = 0 %>
							<div class="col-md-6">
								<div class="field">
									<h3>Recibo:</h3>
									<div class="input-group">
										<span class="input-group-addon">$</span>
										<input type="number" id="recibo" class="form-control">
									</div>
									<h3>Cambio: <span id="cambio" name="cambio"></span></h3>
								</div>
							</div>
							<br>
						</div>
						<div class="row">
							<% if @sale.pending %>
							<div class="col-md-6">
								<div class="field">
									<%= link_to  "Confirmar Venta", edit_sale_path(@sale), class:"btn btn-info btn-lg btn-block" %>
								</div>
							</div>
							<div class="col-md-6">
								<div class="field">
									<%= link_to "Imprimir Ticket", root_path, class:"btn btn-success btn-lg btn-block" %>
								</div>
							</div>
							<% else %>
							<div class="col-md-6 col-md-offset-3">
								<br>
								<div class="field">
									<%= link_to "Imprimir Ticket", root_path, class:"btn btn-success btn-lg btn-block" %>
								</div>
							</div>
							<% end %>
						</div>
						<!-- AÚN QUEDA LA DUDA DE PONER ESTO EN EL REGISTRO, PODRIA PONERSE Y QUE ACEPTE UN NULO -->
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>